{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":270,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":18,"state":"start","mode":"ace/mode/text"}},"timestamp":1424736868716,"hash":"30cc1c7328a05b1b8a0e3563d99341e77e56c512"}